openapi: 3.0.0
info:
  title: The coach API service
  description: >-
    A simple service to manage coaches and their calendars, now with
    conversational event creation.
  version: 1.0.1
servers:
  - url: https://api.coachello.io/api
    description: The repair API server
paths:
  /copilot/cancel/booking:
    delete:
      operationId: cancelCoachingSession
      summary: cancel an booked event at a specific starting time
      description: >-
        Returns the outcome of the cancellation process whether success or
        failure.
      parameters:
        - name: meeting_start_time
          in: query
          required: false
          schema:
            type: string
            format: date-time
            example: "2024-11-04T10:00:00.000Z"
      responses:
        "200":
          description: Event cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: boolean
                  data:
                    type: object
        "400":
          description: Invalid request parameters
        "500":
          description: Failed to cancel
  /copilot/coach/{coach_name}:
    get:
      operationId: getCoachDetails
      x-openai-isConsequential: false
      summary: Get details of a coach by ID
      description: >-
        Returns coach details including first name, last name, email, phone
        number, image URL, and timezone
      parameters:
        - name: coach_name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: A single coach
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Status message
                  error:
                    type: boolean
                    description: Error flag
                  data:
                    type: object
                    properties:
                      first_name:
                        type: string
                      last_name:
                        type: string
                      email:
                        type: string
                      phone_number:
                        type: string
                      image_url:
                        type: string
                        format: uri
                      timezone:
                        type: string
        "404":
          description: Coach not found
  /copilot/coach/events:
    get:
      operationId: getCoachEvents
      summary: Get events for a coach by date range
      description: Returns events for a coach from today and before a certain end date
      parameters:
        - name: coach_name
          in: query
          required: true
          schema:
            type: string
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
            example: "2024-11-04T00:00:00.000Z"
        - name: end_date
          in: query
          required: true
          schema:
            type: string
            format: date
            example: "2024-11-04T00:00:00.000Z"
      responses:
        "200":
          description: Coach events retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: boolean
                  data:
                    type: object
                    properties:
                      events:
                        type: object
                        additionalProperties:
                          type: array
                          items:
                            type: string
                            description: Time range of the event
                      coach_time_zone:
                        type: string
        "400":
          description: Invalid request parameters
        "500":
          description: Failed to retrieve events
  /copilot/previous_coaches:
    get:
      operationId: getPreviousCoaches
      summary: Retrieve a list of previous coaches for a client
      description: Returns a list of coaches that a specific client has previously booked.
      responses:
        "200":
          description: Successfully retrieved the list of previous coaches
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: boolean
                    example: false
                  data:
                    type: array
                    items:
                      type: string
                    description: A list of coach names
        "400":
          description: Bad request, e.g., malformed email format
        "404":
          description: Client not found
        "500":
          description: Internal server error
  /copilot/testing-system:
    get:
      operationId: testSystem
      summary: Get test system response
      description: Get test system response
      responses:
        "200":
          description: Test system response render successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: string
                    items:
                      type: object
                      properties:
                        message:
                          type: string
        "400":
          description: Invalid request parameters
        "500":
          description: Failed to retrieve events
  /copilot/upcoming-meeting:
    get:
      operationId: getUpcomingMeeting
      x-openai-isConsequential: false
      summary: Get the upcoming meeting for a client
      description: >-
        Returns the details of the upcoming meeting scheduled for a client based
        on their time zone
      responses:
        "200":
          description: Upcoming meeting details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  meeting:
                    type: object
                    properties:
                      date:
                        type: string
                        format: date-time
                      title:
                        type: string
                      description:
                        type: string
        "400":
          description: Invalid client ID or time zone
        "500":
          description: Server error in fetching meeting details
  /repairs:
    get:
      operationId: listRepairs
      summary: List all repairs
      description: Returns a list of repairs with their details and images
      parameters:
        - name: assignedTo
          in: query
          description: Filter repairs by who they're assigned to
          schema:
            type: string
          required: false
      responses:
        "200":
          description: A list of repairs
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique identifier of the repair
                        title:
                          type: string
                          description: The short summary of the repair
                        description:
                          type: string
                          description: The detailed description of the repair
                        assignedTo:
                          type: string
                          description: The user responsible for the repair
                        date:
                          type: string
                          format: date-time
                          description: >-
                            The date and time when the repair is scheduled or
                            completed
                        image:
                          type: string
                          format: uri
                          description: >-
                            The URL of the image of the item to be repaired or
                            the repair process
  /copilot/ai/chat/test:
    post:
      operationId: chatWithAICoach
      x-openai-isConsequential: false
      summary: chat with AI Coach and obtain a response
      description: Returns the response of an AI Coach for a user prompt
      requestBody:
        description: JSON payload containing user prompt details.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: The user's prompt to which AI Coach should respond.
                  example: How can I improve my leadership skills?
                model:
                  type: string
                  description: This determines the model to use. Use 'practice' for AI RolePlay Coach conversations or use 'flash' for AI flash Coach conversations.
              required:
                - prompt
      responses:
        "200":
          description: Event rescheduleled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  reply:
                    type: string
                    description: The response of the AI Coach to the user's prompt.
        "400":
          description: Invalid request parameters
        "500":
          description: Failed to reschedule
  /copilot/calendar/event:
    post:
      operationId: bookCoachingSession
      summary: >-
        Books a coaching session with a coach and return information of whether
        the booking process is successful or not.
      description: >-
        This endpoint allows you to book a new coaching session with a
        coach.This endpoint would return whether the booking is successful or
        failed.
      requestBody:
        description: >-
          JSON payload containing event details and user information. Missing
          details can be provided later interactively.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coach_name:
                  type: string
                  description: The name of the coach
                start_time:
                  type: string
                  format: date-time
                  description: Start time of the event
                  example: "2024-11-04T10:00:00.000Z"
                user_comment:
                  type: string
                  description: User comments associated with the event
              required:
                - coach_name
                - start_time
      responses:
        "200":
          description: Event created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    items:
                      type: string
                    description: Coaching Session Booked Successfully!
        "406":
          description: Credit Consumption of the user has exceeded beyond specified limit
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        "407":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Failed to create event
                  error:
                    type: boolean
                    example: true
        "422":
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Failed to create event- Invalid time range
                  error:
                    type: boolean
                    example: true
  /copilot/reschedule/event:
    post:
      operationId: rescheduleCoachingSession
      summary: reschedule an booked event at a specific starting time
      description: >-
        Returns the outcome of the reschedule process whether success or
        failure.
      requestBody:
        description: >-
          JSON payload containing event details and user information. Missing
          details can be provided later interactively.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                previous_start_time:
                  type: string
                  format: date-time
                  description: Start time of the event to be rescheduled
                  example: "2024-11-04T10:00:00.000Z"
                start_time:
                  type: string
                  format: date-time
                  description: Start time of the event created
                  example: "2024-11-04T10:00:00.000Z"
                user_comment:
                  type: string
                  description: User comments associated with the event
              required:
                - previous_start_time
                - start_time
      responses:
        "200":
          description: Event rescheduleled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: boolean
                    example: false
                  data:
                    type: object
                    items:
                      type: string
                    description: Coaching Session reschedulled Successfully!
        "400":
          description: Invalid request parameters
        "500":
          description: Failed to reschedule
